.logo__image {
    max-width: 25rem;
    max-height: 10rem;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-left: auto;
    color: #000;
}

.titleBottom {
    text-align: center;
}